<h1 id="help">help</h1>
<p>
	Get help on rubyof rails tutorials at the 
	<a href="http://railsturtorial.org/help">Rails Tutorial help page</a> 
	To get help on this sample, see the 
	<a href="http://railstutorial.org/book">Rails turotial book</a>
</p>